<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>东南亚</key>
	<array>
		<string>文莱</string>
		<string>印尼</string>
		<string>马来西亚</string>
		<string>菲律宾</string>
		<string>新加坡</string>
		<string>泰国</string>
		<string>越南</string>
	</array>
	<key>南美洲</key>
	<array>
		<string>阿根廷</string>
		<string>玻利维亚</string>
		<string>巴西</string>
		<string>智利</string>
	</array>
	<key>大洋洲</key>
	<array>
		<string>澳大利亚</string>
		<string>新西兰</string>
	</array>
	<key>北美洲</key>
	<array>
		<string>加拿大</string>
		<string>美国</string>
	</array>
	<key>中东</key>
	<array>
		<string>巴林</string>
		<string>伊朗</string>
		<string>以色列</string>
		<string>沙特阿拉伯</string>
		<string>科威特</string>
		<string>黎巴嫩</string>
		<string>卡塔尔</string>
		<string>阿联酋</string>
	</array>
	<key>欧洲</key>
	<array>
		<string>捷克</string>
		<string>法国</string>
		<string>德国</string>
		<string>意大利</string>
		<string>荷兰</string>
		<string>波兰</string>
		<string>罗马尼亚</string>
		<string>西班牙</string>
		<string>瑞典</string>
		<string>土耳其</string>
	</array>
	<key>CIS</key>
	<array>
		<string>白俄罗斯</string>
		<string>俄罗斯</string>
		<string>乌克兰</string>
	</array>
	<key>中美洲</key>
	<array/>
	<key>亚洲</key>
	<array>
		<string>中国</string>
		<string>香港</string>
		<string>日本</string>
		<string>巴基斯坦</string>
		<string>韩国</string>
		<string>台湾</string>
	</array>
</dict>
</plist>
